<div class='parametres-new'>
  <h1>Benvingut a Assets, <%= @current_user.nom %>.</h1>

  <p> Et demanem uns breus instants per a configurar la teva empresa, et prometem
      que sera ràpid ! 
  </p>

  <%= form_for @parametre do |f| %>
    <% if flash[:error] %>
      <div class="error ui-state-error ui-corner-all">
        <%= flash[:error] %>
        <% if @parametre.errors.any? %>
          <ul>
            <% for message_error in @parametre.errors.full_messages %>
              <li><%= message_error %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <fieldset>
      <ol>
        <li>
          <label> Pla general de comptabilitat </label>
          <%= f.select(:pgc_id, @pgctipus) %>
        </li>
        <li>
          <label> Longitud del compte comptable </label>
          <%= f.text_field :long_compte %>
        </li>
        <li>
          <label> Longitud del sufix </label>
          <%= f.text_field :long_sufix %>
        </li>
      </ol>
    </fieldset>

    <%= f.submit 'Enviar' %>
  <% end %>
</div>
