<div class="tab-container">
  <h1 class='welcome'> Benvingut a Assets, <%= @current_user.nom %> </h1>

  <div class='menu-container'>
    <div class='menuOptions'>
      <% menuOptions.each{ |opt| %>
        <div name='<%= opt.mnutit %>' class='option'  id=<%= opt.route + '/' + opt.id.to_s %>>
          <img src='/assets/icons/48x48/<%= opt.mnuico %>'/>
          <div class='text'><%= opt.mnutit %></div>
        </div>
      <% } %>
    </div>
  </div>
</div>
