<div class='consulta' id=<%= @mnukey %>>
  <div> <h3> Consulta de <%= @mnulabel %> </h3> </div>
  <div> 

    <div class='consulta-frm'>
      <%= form_tag '/historials/search',
                   {:remote => true} do |f| %>
        <%= hidden_field_tag :mnukey, @mnukey %>

        <div class='errors'>
        </div>

        <div class='notice'>
        </div>

        <div class='p1'>
          <ol>
            <li>
              <label>Consulta </label>
              <%= select_tag 'tipus',
                  options_from_collection_for_select(@consultes,
                                                     'id',
                                                     'opcdes'),
                  {:class => 'compte',
                   :tabindex => 1} %> 
            </li>
            <li>
              <label>Client </label>
              <%= select_tag 'compte',
                  options_from_collection_for_select(@comptes,
                                                     'ctcte',
                                                     'ctfullname'),
                  {:class => 'compte',
                   :tabindex => 2} %> 
            </li>
          </ol>
          
        </div>
        <div class='p2'>

        </div>
        <div class='p3'>

        </div>
        <div class='p4'>
          <%= submit_tag('Buscar') %>
        </div>
      <% end %>
    </div>

    <div class='consulta-grid' id='histgrid'>

    </div>
  </div>
</div>
