<%= render :partial => 'assistits/templates' %> 

<div class='assistit' id=<%= frmId %>>
  <div> <h3> <%= frmLabels.lit1 %> </h3> </div>
  <div> 
    <%= form_tag '/assistits', {:remote => true} do |f| %>

      <%= hidden_field_tag :opckey, frmId %>

      <div class='errors'>
      </div>

      <div class='notice'>
      </div>

      <fieldset class='main'>
        <legend> <%= frmLabels.lit2 %> </legend>
        <hr>
        <ol>
          <li>
            <label><%= frmLabels.lit3 %> </label>
            <%= text_field_tag :numdoc, histMov.numdoc %>
          </li>
          <li class='ctcte'>
            <label><%= frmLabels.lit4 %></label>
            <%= select_tag :compte,
                  options_from_collection_for_select(
                    comptesOrigen,
                    'ctcte',
                    'ctfullname',
                    histMov.compte.ctcte),
                  {:class => 'compte'} %> 
          </li>
          <li>
            <label><%= frmLabels.lit5 %></label>
            <%= text_field_tag :ctdesc, histMov.compte.ctdesc %>
          </li>
          <li>
            <label><%= frmLabels.lit6 %></label>
            <%= text_field_tag :date, histMov.datdoc, {:type => 'date'} %>
          </li>
          <li class='import'>
            <label><%= frmLabels.lit7 %></label>
            <%= text_field_tag :impdoc,
                               histMov.impdoc,
                               {:class => 'import'} %> 
            <div class='numeric'></div>
          </li>
          <li>
            <label><%= frmLabels.lit8 %></label>
            <%= text_field_tag :comment, histMov.comdoc %>
          </li>
        </ol>
      </fieldset>

      <fieldset id='assentaments' class='desglossat'>
        <legend> <%= frmLabels.lit9 %> </legend>
        <hr>

        <table>
          <thead>
          <tr>
            <td class='col1'>
              Compte
            </td>
            <td class='col2'>
              Import
            </td>
            <td class='col3'>
              Comentari
            </td>
          </tr>
          </thead>
          <tbody>
            <% histGens.each { |i| %>
              <% nrow = 0 %>
              <%= render :partial => 'assistits/assentament_edit',
                         :locals => {:nrow => nrow.to_s,
                                     :histGen => i,
                                     :comptesDesti => comptesDesti} %>
              <% nrow = nrow + 1 %>
            <% } %>
          </tbody>
        </table>
      </fieldset>

      <% if frmName == 'frm_p3_alta' %>
      
        <fieldset id='impostos' class='desglossat'>
          <legend> Impostos </legend>
          <hr>

          <table>
            <thead>
            <tr>
              <td class='col1'>
                Tipus impost/taxa
              </td>
              <td class='col2'>
                Import
              </td>
            </tr>
            </thead>
            <tbody>
              <%= render :partial => 'assistits/impost' %> 
            </tbody>
          </table>
        </fieldset>

        <fieldset id='pagaments' class='desglossat'>
          <legend> Forma de liquidacio </legend>
          <hr>

          <table>
            <thead>
            <tr>
              <td class='col1'>
                Forma de pagament
              </td>
              <td class='col2'>
                Import
              </td>
              <td class='col3'>
                Comentari
              </td>
              <td class='col4'>
                Data
              </td>
            </tr>
            </thead>
            <tbody>
              <%= render :partial => 'assistits/pagament' %> 
            </tbody>
          </table>
        </fieldset>

      <% end %>

      <%= submit_tag('Guardar') %>
      <button type='reset' class='reset'> Netejar  </button>

    <% end %>
  </div>
</div>
