<div class='dialog-factura-duplicada'>
  <p> <strong>Detall de la factura</strong> </p>

  <p>Nº Factura: <%= @historial.numdoc %></p>
  <p>Client: <%= @compte.ctcte %> - <%= @compte.ctdesc %></p>
  <p>Data factura: <%= @historial.datdoc %></p>
  <p>Data entrada: <%= @historial.datsis %></p>
  <p>Import: <%= @historial.impdoc %></p>
</div>
