<%= render :partial => 'assistits/templates' %> 

<div class='assistit' id=<%= opckey %>>
  <div> <h3> <%= frmLabels.lit1 %> </h3> </div>
  <div> 
    <%= form_tag '/assistits',
                 {:remote => true,
                  :class => 'frm_new_p1'} do |f| %>
      <%= hidden_field_tag :opckey, opckey %>

      <div class='errors'>
      </div>

      <div class='notice'>
      </div>

      <fieldset class='main'>
        <legend> <%= frmLabels.lit2 %> </legend>
        <hr>
        <ol>
          <li>
            <label><%= frmLabels.lit3 %> </label>
            <%= text_field_tag :numdoc, '', :tabindex => 1 %>
          </li>
          <li class='ctcte'>
            <label><%= frmLabels.lit4 %></label>
            <div class='ctcte-combobox'></div>
          </li>
          <li>
            <label><%= frmLabels.lit5 %></label>
            <%= text_field_tag :ctdesc, '', :tabindex => 3 %>
          </li>
          <li>
            <label><%= frmLabels.lit6 %></label>
            <%= text_field_tag :date, '', {:tabindex => 4, :type => 'date'} %>
          </li>
          <li class='import'>
            <label><%= frmLabels.lit7 %></label>
            <div class='numeric'></div>
          </li>
          <li>
            <label><%= frmLabels.lit8 %></label>
            <%= text_field_tag :comment, '', :tabindex => 6 %>
          </li>
        </ol>
      </fieldset>

      <fieldset id='assentaments' class='desglossat'>
        <legend> <%= frmLabels.lit9 %> </legend>
        <hr>

        <table>
          <thead>
          <tr>
            <td class='col1'>
              <div class='col-compte'>
                <div class='title'>
                  Compte
                </div>
                <div id='newConcepte' class='ui-state-default ui-corner-all'>
                  <span class='ui-icon ui-icon-plusthick'> Afeigir nou concepte</span>
                </div>
              </div>
            </td>
            <td class='col2'>
              Import
            </td>
            <td class='col3'>
              Comentari
            </td>
          </tr>
          </thead>
          <tbody>
            <%= render :partial => 'assistits/assentament',
                       :locals => {
                         :nrow => 0,
                         :comptesDesti => comptesDesti
                       }
            %>
          </tbody>
        </table>
      </fieldset>

      <% if @assistit.opcfrm == 'frm_p3_alta' %>
      
        <fieldset id='impostos' class='desglossat'>
          <legend> Impostos </legend>
          <hr>

          <table>
            <thead>
            <tr>
              <td class='col1'>
                Tipus impost/taxa
              </td>
              <td class='col2'>
                Import
              </td>
            </tr>
            </thead>
            <tbody>
              <%= render :partial => 'assistits/impost',
                    :locals => {:nrow => 0,
                                :comptesImpostos => comptesImpostos} %>
            </tbody>
          </table>
        </fieldset>

        <fieldset id='pagaments' class='desglossat'>
          <legend> Forma de liquidacio </legend>
          <hr>

          <table>
            <thead>
            <tr>
              <td class='col1'>
                Forma de pagament
              </td>
              <td class='col2'>
                Import
              </td>
              <td class='col3'>
                Comentari
              </td>
              <td class='col4'>
                Data
              </td>
            </tr>
            </thead>
            <tbody>
              <%= render :partial => 'assistits/pagament',
                    :locals => {:nrow => 0,
                                :comptesPagaments => comptesPagaments} %>
            </tbody>
          </table>
        </fieldset>

      <% end %>

      <%= submit_tag('Guardar') %>
      <button type='reset' class='reset'> Netejar  </button>

    <% end %>
  </div>
</div>
