<div class='sign-form'>
  <h1>Identificació Empresa</h1>
  <hr>

  <%= form_tag(:action => 'auth_attempt') do %>

    <% if flash[:notice] %>
      <div class="notice ui-state-highlight ui-corner-all">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error ui-state-error ui-corner-all">
        <%= flash[:error] %>
      </div>
    <% end %>

    <fieldset>
      <ol>
        <li>
          <label> Usuari </label>
          <%= text_field_tag :username %>
        </li>
        <li>
          <label> Contrasenya </label>
          <%= password_field_tag :password %>
        </li>
      </ol>
    </fieldset>

    <%= submit_tag 'Validar' %>
  <% end %>
</div>
