<script type='text/template' class='tpl-error-1'>
  <div class='error-compte input-validation-error'>
   Es creara automaticament: <BR/>
   <%%- ctcte %> - <%%- ctdesc %>
  </div>
</script>

<script type='text/template' class='tpl-error-2'>
  <div class='error-compte input-validation-error'>
   Inserta un nom per crear el <BR/>
   compte automaticament
  </div>
</script>

<script type='text/template' class='tpl-error-3'>
  <div class='error-compte input-validation-error'>
  <span>
   Assignar automaticament un codi <BR/>
   al banc ? <%= check_box_tag :assignar_codi_auto, '', true %>
  </span>
  </div>
</script>

<script type='text/template' class='tpl-assistit-errors'>
  <span class='ui-icon ui-icon-alert'
        style='float: left; margin-right: .3em;'></span>
 
  Verifiqui els seguents errors:

  <ul>
    <%% _.each(rc.errors, function(i) { %>
      <li>
        <%%- i.field %>: <%%- i.msg %> 
      </li>
    <%% }); %>
  </ul>
</script>

<div class='assistit' id=<%= opckey %>>
  <div> <h3> <%= frmLabels.lit1 %> </h3> </div>
  <div> 

    <%= form_tag '/assistits',
                 {:remote => true,
                  :class => 'frm_new_p1'} do |f| %>
      <%= hidden_field_tag :opckey, opckey %>

      <div class='errors'>
      </div>

      <div class='notice'>
      </div>

      <fieldset>
        <legend> <%= frmLabels.lit2 %> </legend>
        <hr>
        <ol>
          <li>
            <label><%= frmLabels.lit3 %> </label>
            <%= text_field_tag :numdoc, '', :tabindex => 1 %>
          </li>
          <li class='ctcte'>
            <label><%= frmLabels.lit4 %></label>
            <div class='ctcte-combobox'></div>
          </li>
          <li>
            <label><%= frmLabels.lit5 %></label>
            <%= text_field_tag :ctdesc, '', :tabindex => 3 %>
          </li>
          <li>
            <label><%= frmLabels.lit6 %></label>
            <%= text_field_tag :date, '', {:tabindex => 4, :type => 'date'} %>
          </li>
          <li class='import'>
            <label><%= frmLabels.lit7 %></label>
            <div class='numeric'></div>
          </li>
          <li>
            <label><%= frmLabels.lit8 %></label>
            <%= text_field_tag :comment, '', :tabindex => 6 %>
          </li>
        </ol>
      </fieldset>

      <fieldset class='assentaments'>
        <legend> <%= frmLabels.lit9 %> </legend>
        <hr>

        <table>
          <thead>
          <tr>
            <td>
              Compte
            </td>
            <td>
              Import
            </td>
            <td>
              Comentari
            </td>
          </tr>
          </thead>
          <tbody>
            <%= render :partial => 'assistits/assentament' %> 
          </tbody>
        </table>
      </fieldset>
      
      <%= submit_tag('Guardar') %>

    <% end %>
  </div>
</div>
