<!DOCTYPE html>
<html>
<head>
  <title>Assets</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

  <div id='rightmenu'>
    <% if @current_user %>
      <div id='usermenu'>
        <ul>
          <li> <%= image_tag('user.png') %> <%=  @current_user.nom %>
            <ul>
              <li> Configuracio </li>
              <li><%= link_to 'Desconectar', '/logout' %> </li>
            </ul>
          </li>
          <li> <%= image_tag('support.png') %> Suport
            <ul>
              <li id='/logout'> Documentació </li>
              <li id='/logout'> Suport telefonic </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <div id="appContainer">
		<div id="appTabs">
      <ul>
        <li class='start' hasclosebutton='false'>
          <% if @current_user %>
            <% if @current_user.empresas.any? %>
              <a href='#tabMenu'> <%= @current_user.empresas.first.empnom %> </a>
            <% else %>
              Assets 
            <% end %>
          <% else %>
            Login
          <% end %>
        </li>
      </ul>
      <div>
        <%= yield %>
      </div>
	  </div>
	</div>


</body>
</html>
