<!DOCTYPE html>
<html>
<head>
  <title>Assets</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

  <div id="appContainer">
		<div id="appTabs">
      <ul>
        <li class='start' hasclosebutton='false'>
          <a href='#tabMenu'> Inici </a>
        </li>
      </ul>
      <% if @current_user %>
        <div>
          <%= render :partial => 'home/home' %>
        </div>
      <% end %>
	  </div>
	</div>


</body>
</html>
